datasets==3.2.0
diffusers==0.31.0
jax==0.4.37
jax-cuda12-pjrt==0.4.36
jax-cuda12-plugin==0.4.36
jaxlib==0.4.36
torch @ https://download.pytorch.org/whl/cu121_full/torch-2.5.1%2Bcu121-cp310-cp310-linux_x86_64.whl
accelerate==1.1.1
transformers==4.46.3
torchvision @ https://download.pytorch.org/whl/cu121/torchvision-0.20.1%2Bcu121-cp310-cp310-linux_x86_64.whl
matplotlib==3.8.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.1
tqdm==4.66.6
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
pytorch-fid==0.3.0
pytorch-gan-metrics==0.5.4
jupyter-client==8.1.0
jupyter-core==5.3.0
jupyter-events==0.6.3
jupyter-server==2.5.0
jupyter-server-terminals==0.4.4
jupyterlab==3.5.2
jupyterlab-pygments==0.2.2